
body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 100%;
}

nav {
	width: 100%;
	position: fixed;
	background-color: #1F2544;
	bottom: 0;
	z-index: 1000; 
}

nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}


nav li {
	height: 100px;
}

nav a {
	height: 100%;
	padding: 0 40px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #dcf4ff;
}