* {
    box-sizing: border-box;
}

:root {
    --control-text-color: rgb(82, 82, 82);
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Nunito Sans, sans-serif;
    background-color: #1F2544;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1 {
    color: aliceblue;
    font-size: 2.5rem;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 700;
}

form {
    width: min(400px, 100%);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 50%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 10%;
    width: 30%;
    align-items: center;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: none;
    height: 35px;
    padding: 1em;
    border-radius: 0 5px 5px 0;
    border: none;
    color: var(--control-text-color);
}

form input:focus {
    outline: none;
}

form button {
    margin-top: 20px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 3.2em;
    font-weight: 550;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease-in-out;
    color: var(--control-text-color);
}

form button:hover {
    background-color: rgba(240, 248, 255, 0.719);
}

a {
    color: aliceblue;
    font-size: 0.75rem;
}

@media (max-width: 1100px) {
    .wrapper {
        width: min(600px, 100%);
    }
}

form div.incorrect input{
    border: 2px solid rgb(243, 59, 59);
}

#error-message {
    color: rgb(243, 59, 59);
    font-size: 0.85rem;
    margin-top: 10px;
}