body {
	background-color: #1F2544;
	font-family: Nunito Sans, sans-serif;
	max-width: 1170 px;
	max-height: 2532 px;
}

.wrapperMain {
	padding: 100px 0;
	margin: 0 auto;
	width: 100%;
}

h1 {
	margin-top: 50%;
	color:aliceblue;
	text-align: center;
	font-size: 7rem;
}

.menuCat img {
	text-align: center;
	transform: scale(0.4);
}