<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='startStyle.css') }}">
	<title>Whiskr</title>
</head>
<body>

	<div class="wrapperMain">
		<h1>Whiskr</h1>

		<div class="menuCat">
        	<img src="{{ url_for('static', filename='images/menuCat.png') }}">
    	</div>

		<div class="menuBtns">
			<button id="startBtn">Get Started</button>
			<button id="loginBtn">Log In</button>
		</div>
	</div>

	<script>
		document.getElementById("startBtn").onclick = function () {
			window.location.href = "{{ url_for('signup') }}";
		};

		document.getElementById("loginBtn").onclick = function () {
			window.location.href = "{{ url_for('login') }}";
		};
	</script>
	
</body>
</html>